/* -- admin add form -- */
.side-form-left {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

#add-form {
	list-style: none;
	padding: 0;
}
#add-form li {
	margin-bottom: 10px;
	font-size: 15px;
}
#add-form input {
	margin-top: 5px;
}

.side-form-right {
	display: inline-block;
	vertical-align: top;
}
.side-right-inner {
	margin: 16px 0;
	font-size: 15px;
}