/* -- admin add form -- */
.side-form-left {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}
#add-form {
	list-style: none;
	padding: 0;
}
#add-form li {
	margin-bottom: 10px;
	font-size: 15px;
}
#add-form input {
	margin-top: 5px;
}

.side-form-right {
	display: inline-block;
	vertical-align: top;
}
.side-right-inner {
	margin: 16px 0;
	font-size: 15px;
}

/* -- table style -- */
.table-data {
    width: 50%;
    margin: 10px 0;
    border: 2px solid #BDBDBB;
    border-right-style: none;
    font-size: 11px;
}
.table-data td {
    padding: 5px 10px;
    background-color: #F2F2F2;
    border-right: 2px solid #BDBDBB;
}

.table-data th {
    padding: 5px 10px;
    border-right: 2px solid #BDBDBB;
    border-bottom: 2px solid #BDBDBB;
    text-align: center;
    background-color: #E0E0E0;
}


.form-list {
    list-style: none;
    padding: 0;
}
.form-list li {
    margin-bottom: 10px;
    font-size: 15px;
}
.form-list input {
    margin-top: 5px;
}