/* -- student profile -- */
.table-data {
    width: 100%;
    margin: 10px 0;
    border: 2px solid #BDBDBB;
    border-right-style: none;
    font-size: 11px;
}
.table-data td {
    padding: 5px 10px;
    background-color: #F2F2F2;
    border-right: 2px solid #BDBDBB;
}
.table-data th {
    padding: 5px 10px;
    border-right: 2px solid #BDBDBB;
    border-bottom: 2px solid #BDBDBB;
    text-align: center;
    background-color: #E0E0E0;
}

.search-table-data{
	width: 100%;
}

.grades-table-data {
	margin-top :50px;
	text-align: center;
}

#password-save {
     list-style: none;
     padding: 0;
 }
#password-save li{
    margin-bottom: 10px;
    font-size: 15px;
}
#password-save input {
    margin-top: 5px;
}

.confirm-message{
    margin: 0;
    padding: 0;
    font-size:0.8em;
 }
.ClearButton
{
    vertical-align: top;
    display: inline-block;
    background: url(../CustomControl/buttons.png?ver=365321878) no-repeat scroll -343px -443px rgba(0, 0, 0, 0);
    overflow: hidden;
}
.title-course-evaluation-type{
	padding-top: 30px;
	text-align:center;
	font-weight:bold;
}

.select-grades{
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.wrong-evaluation-type{
	padding: 20px 30px 20px 80px;
	color: red;
}
.side-form-right {
	display: inline-block;
	vertical-align: top;
}
.side-right-inner {
	margin: 16px 0 0 20px;
	font-size: 15px;
}
.side-form-left {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.form-list {
	list-style: none;
	padding: 0;
	font-size: 12px;
}
.form-list li {
	margin-bottom: 10px;
	/*font-size: 15px;*/
}
.form-list input {
	margin-top: 5px;
	font-size: 12px;
}