@charset "utf-8";
html,
body {
	background-color: #74AFAD;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

/* ----- header styles ----- */
#header {}
.logo {
	color:#E0E0DC;
	margin:0px;
	padding:0px;
	font-size:24px;
	font-family: Lobster, cursive;
	font-size: 66px;
}
.logo:before {
	content: "ProGnosiX";
}
.menu_bar {
	background-color: #395D5B;
	width: 100%;
	height: 50px;
	border: none;
	position: relative;
}
#menu_box {
	text-align: center;
	position: absolute;
	width: 1024px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.border {
	background-color: #D9853B;
	text-align: center;
	border-style: solid;
	border-color: #BDBDBB;
	border-radius: 5px;
	border-width: 1px;
	display: inline-block;
	padding: 2px 5px;
	margin: 0px 3px;
}
.menu_button {
	font-family: Lobster, cursive;
	font-size: 21px;
	color: #E0E0DC;
	vertical-align: middle;
	height: 30px;
	width: auto;
}

/* ----- content styles ----- */
#content {
	padding-bottom: 50px; /* Height of the footer element */
	background-color: #E0E0DC;
	position: absolute;
	width: 1024px;
	min-height: 500px;
	left: 50%;
	transform: translateX(-50%);
}

/* ----- footer styles ----- */
#footer {
	background:#395d5b;
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
}
#utils {
	text-align: center;
	position: absolute;
	width: 1024px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#utils a {
	text-decoration: none;
	color: #D9853B;
	margin: 0 28px;
	padding: 0 2px;
}